@model IEnumerable<QLBikeStores.Models.Product>

@{
    ViewData["Title"] = "Filter";
}

<h1>Filter</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    
                    <button type="button" class="btn btn-primary">
                        <a style="color:white;" asp-action="Create">Create New</a>
                    </button>
                    <button type="button" class="btn btn-success">
                        <a style="color:white;" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                    </button>

                    <button type="button" class="btn btn-info">
                        <a style="color:white;" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                    </button>

                    <button type="button" class="btn btn-danger">
                        <a style="color:white;" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </button>
                    @*<a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-warning">
        <a style="color:white" asp-action="Index">Back to List</a>
    </button>
</div>