@model IEnumerable<QLBikeStores.Models.Category>

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <button type="button" class="btn btn-primary">
            <a style="color:white" asp-action="Create">Create New</a>
        </button>
    </p>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a style="color:white" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                        </button>
                        <button type="button" class="btn btn-info">
                            <a style="color:white" asp-action="Details" asp-route-id="@item.CategoryId">Details</a>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <a style="color:white" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
