
<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto " asp-controller="Home" asp-action="Index"><i class="bi bi-house-fill"></i>&nbspHOME PAGE</a></li>
        <li class="dropdown">
            <a asp-controller="Product" asp-action="ListProduct">
                <span class="bi bi-bicycle"> BICYCLE</span>
                <i class="bi bi-chevron-down"></i>
            </a>
            <ul>
                @foreach (MenuViewModel item in Model)
                {
                    <li class="dropdown">
                        @* <a href="Product/ListCategory"><span>@item.CategoryName</span> <i class="bi bi-chevron-right"></i></a>*@
                        @Html.ActionLink(item.CategoryName,"ListCategory","Product",new{categoryId=@item.CategoryId},null)
                        <ul>
                            @foreach (Brand brand in item.Brands)
                            {
                                @*<li><a asp-controller="Home" asp-action="List">@brand.BrandName</a></li>*@
                                @Html.ActionLink(brand.BrandName,"ListCategoryBrand","Product",new{brandId=@brand.BrandId,categoryId=@item.CategoryId},null)
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
        <li><a class="nav-link scrollto" asp-controller="Store" asp-action="ListStore"><i class="bi bi-shop"></i>&nbspSTORE</a></li>
        <li><a class="nav-link scrollto" asp-controller="Contact" asp-action="Index"><i class='bi bi-phone'></i>&nbspCONTACT</a></li>
        <li><a class="nav-link scrollto" asp-controller="Cart" asp-action="Index"><i class="bi bi-cart-fill"></i></a></li>
        <li><a class="nav-link scrollto" asp-controller="Product" asp-action="Search"><i class="bi bi-search"></i></a></li>
        <li><a class="nav-link scrollto" asp-controller="Account" asp-action="Login"><i class="bi bi-person-square"></i></a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
    
    @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar float-right">
                <span> Welcome to</span> <span class="text-success font-weight-bold p-2">@User.Identity.Name.ToUpper()</span>
                <a class="btn btn-sm btn-danger" asp-action="LogOut" asp-controller="Account">SignOut</a>

        
            </div>
        }
</nav><!-- .navbar -->
