@model IEnumerable<QLBikeStores.Models.Customer>

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .pagination-container {
            display: flex;
            flex: 1;
        }

        .pagination {
            display: flex;
            flex: 1;
            list-style: none;
            padding: 0;
            gap: .625rem;
        }

        .page-item, .page-link {
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .PagedList-pageCountAndLocation {
            justify-content: start;
            order: -1;
            flex: 1;
            /*expands the div to max available width*/
        }
    </style>
</head>
<body>
    <p>
        <button type="button" class="btn btn-primary">
            <a style="color:white;" asp-action="Create">Create New</a>
        </button>
    </p>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a style="color:white;" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                        </button>
                        <button type="button" class="btn btn-info">
                            <a style="color:white;" asp-action="Details" asp-route-id="@item.CustomerId">Details</a>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <a style="color:white;" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model,
    pageNo => Url.Action("Index", new { pageNo }),
    new PagedListRenderOptions{
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination" },
    LiElementClasses = new string[] { "page-item" },
    DisplayItemSliceAndTotal = true,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded
    }
    )
</body>
</html>
