@{
    ViewData["Title"] = "ListStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container-fluid p-3 my-3">
        <div class="title-store" style="text-align: center; color:#37517e">
                <h1><b><i>Store List</i></b></h1>
                <div class="icon-bike">
                    <img alt="icon-bike" src="~/assets/img/icon-store2.jpg" style="width:145px;height:96px;"/>
                </div>
            </div>
        @*<h1 style="text-align:center; color:#37517e"><b><i>Store List</i></b></h1>*@
        <div class="row row-cols-3 g-3">
            @foreach (Store item in Model)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body" style="background-color:#f5f5f5">
                            <h2 class="card-title" style="color:midnightblue"><b>@item.StoreName</b></h2>
                            <h4><i class="bi-geo-alt-fill"></i>&nbsp;Address: <b>@item.Street, @item.City, @item.State, @item.ZipCode</b></h4>
                            <h4><i class="bi-telephone-fill"></i>&nbsp;Tel: <b>@item.Phone</b></h4>
                            <h4><i class="bi-envelope-fill"></i>&nbsp;Email: <b>@item.Email</b></h4>
                            <h4><i class="bi-door-open-fill"></i>&nbsp;Opening Hours: <b>10AM - 9PM (Monday - Sunday)</b></h4>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>




