@{
    ViewData["Title"] = "ListCategory";
}
<style>
    .product-name{
        height:48px;
        overflow:hidden;
    }
</style>
<section style="background-color: white;">

    <div class="container py-1">
        <div class="row">
            <div class="title-product" style="text-align: center; color:#37517e" >
                <h1><b><i>List Of Products By Category</i></b></h1>
                <div class="icon-bike">
                    <img alt="icon-bike" src="~/assets/img/icon-bike.jpg" style="width:145px;height:96px;"/>
                </div>
            </div>
            @foreach (Product item in Model)
            {
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0 my-3">
                    <div class="card">
                        <div class="d-flex justify-content-between p-3">
                            <p class="lead mb-0">Authentic</p>
                            <div class="bg-danger rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                             style="width: 35px; height: 35px;">
                                <p class="text-white mb-0 small">@item.Discount</p> 
                            </div>
                        </div>
                        <img src="~/assets/img/bike/Marlin7_23_36967_B_Primary.jpg"
                         class="card-img-top" alt="Bike" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="small"><a href="#!" class="text-muted">@item.Category.CategoryName</a></p>
                            </div>
                            <div class="d-flex justify-content-between mb-3 product-name">
                                <h5 class="mb-0">@item.ProductName</h5>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="text-dark mb-0">Price: $@item.ListPrice</h5>
                                @*<h5 class="text-danger"><s></s></h5>   *@     @*listprice-(listprice*discount)  *@                  
                            </div>

                            <div class="d-flex justify-content-between mb-2">
                                <p class="text-muted mb-0">Available: <span class="fw-bold">@item.Stocks.Sum(p=>p.Quantity)</span></p>
                                <div class="ms-auto text-warning">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <button type="submit" class="btn btn-danger flex-fill ms-1">
                                    <a style="color:white;" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ProductId" asp-route-quantity="1"> Add To Cart <i class="fas fa-cart-plus"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
