@model IEnumerable<CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="" style="background-color: white;">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center h-100">           
                <div class="col">
                <p><span class="h2">Shopping Cart </span></p>  
                @foreach(var item in Model)
                {
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="row align-items-center">
                                <div class="col-md-2">
                                    <img src="~/assets/img/bike/@item.Image"
                                     class="img-fluid" alt="Generic placeholder image">
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Product Name</p>
                                        <p class="lead fw-normal mb-0">@item.ProductName</p>
                                    </div>
                                </div>                                
                                <div class="col-md-2 d-flex justify-content-center">
                                    @*<button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>                                   
                                    <input id="form1" value="@item.Quantity" type="number"
                                       class="form-control form-control-sm" />

                                    <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>*@ 
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Quantity</p>
                                        <p class="lead fw-normal mb-0">@item.Quantity</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Price</p>
                                        <p class="lead fw-normal mb-0">@*$@(item.ListPrice-(item.ListPrice*item.Discount/100))*@</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Total</p>
                                        <p class="lead fw-normal mb-0">@item.Total</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Remove</p>
                                        <p class="lead fw-normal mb-0"><a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.ProductId" class="text-danger"><i class="fas fa-trash fa-lg"></i></a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }

                <div class="card mb-5">
                    <div class="card-body p-4">
                        <div class="float-end">
                            <p class="mb-0 me-5 d-flex align-items-center">
                                <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal">hh</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-light btn-lg me-2"><a asp-action="ListProduct" asp-controller="Product">CONTINUE SHOPPING</a></button>
                    <button type="submit" class="btn btn-primary btn-lg">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
</section>

